<!DOCTYPE html>
<html>
<head>
<title>Calculadora Pitagórica</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>EL</b> Erick Lincoln</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#home" class="w3-bar-item w3-button">Home</a>
      <a href="#about" class="w3-bar-item w3-button">Sobre</a>
      <a href="#contact" class="w3-bar-item w3-button">Contato</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-image w3-grey w3-center" style="padding:128px 16px" id="home">
  <h1 class="w3-margin w3-jumbo">Calculadora</h1>
  <p class="w3-xlarge">do Teorema de Pitágoras</p>
  <a href="calculadora" button class="w3-button w3-black w3-padding-large w3-large w3-margin-top" >Calcular</button>
  </a></header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->
  
  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Sobre esta Calculadora:</h3>
    <p>O teorema de Pitágoras é uma fórmula que nos permite relacionar as medidas dos lados de
        um triângulo retângulo. Nessa figura geométrica, os lados perpendiculares são conhecidos
         como catetos, e o lado oposto ao ângulo de 90º é conhecido como hipotenusa.
        Esse teorema mostra que a soma do quadrado dos catetos é sempre igual ao quadrado 
        da hipotenusa. Ele é muito importante para o estudo da Matemática, auxiliando no 
        desenvolvimento da geometria. Foi por meio dele que os matemáticos buscaram compreender
         melhor os números irracionais.
    </p>
  </div>

  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://img.ibxk.com.br/2016/03/01/01155055172818.gif" alt="Pitágoras" style="width:50%">
      <h3>Pitágoras</h3>
      <p class="w3-opacity">Filósofo pré-socrático & Matemático da Grécia Antiga.</p>
      <p>Segundo ele “tudo é número”, frase que indica uma explicação para a realidade e tudo que existe no mundo. A ele foi atribuído o uso e criação dos termos “filósofo” e “matemática”.</p>
      <p><button class="w3-button w3-light-grey w3-block"><a href="https://pt.wikipedia.org/wiki/Pit%C3%A1goras">Saiba Mais</button></a></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://media0.giphy.com/media/cYP2sM2KpZP3i/giphy.gif?cid=ecf05e475uvie7ep4fkhjkti35gqgfu1kat73xqu6acauulu&rid=giphy.gif&ct=g" alt="Teorema" style="width:50%">
      <h3>Teorema</h3>
      <p class="w3-opacity">a² = b² + c²</p>
      <p>O teorema de Pitágoras relaciona a medida dos catetos e da hipotenusa do triângulo por meio da seguinte expressão:

        a² = b² + c².
        
        A partir dessa relação, é possível encontrar um lado do triângulo retângulo conhecendo os outros dois lados.</p>
      <p><button class="w3-button w3-light-grey w3-block"><a href="https://pt.wikipedia.org/wiki/Teorema_de_Pit%C3%A1goras">Saiba Mais</button></a></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://media4.giphy.com/media/l41JGHqVSThnCbSOA/giphy.gif?cid=ecf05e47ey2ddpmp8fsqadq3wjbno16mydyh9zu49sa53ja2&rid=giphy.gif&ct=g" alt="Mike" style="width:50%">
      <h3>Fórmula</h3>
      <p class="w3-opacity">do Teorema de Pitagóras</p>
      <p>"Para aplicação do teorema de Pitágoras, é necessário compreender as nomenclaturas dos lados de um triângulo retângulo. O maior lado do triângulo fica sempre oposto ao maior ângulo, que é o ângulo de 90°. Esse lado recebe o nome de hipotenusa e será representado aqui pela letra C.

        Os demais lados do triângulo são chamados de catetos e serão aqui representados pelas letras B e A."</p>
      <p><button class="w3-button w3-light-grey w3-block"><a href="https://pt.wikipedia.org/wiki/Teorema_de_Pit%C3%A1goras#F%C3%B3rmula_e_corol%C3%A1rios">Saiba Mais</button></a></p>
    </div>
    
    <div class="w3-col l3 m6 w3-margin-bottom" >
      <img src="https://th.bing.com/th/id/R.d936eb959c74e9f55425f60b2272fc54?rik=nLRE1S3n5fSttw&pid=ImgRaw&r=0" alt="Dan" style="width:90%">
      <h3>Sobre este Projeto</h3>
      <p class="w3-opacity">Erick Lincoln</p>
      <p>Atualmente sou estudante de Engenharia de Computação, este projeto foi desenvolvido com o intuito de aprimoramento de experiência própria.</p>
      <p><button class="w3-button w3-light-grey w3-block" >Contato</button></p>
      </div>
  </div>

  
<!-- End page content -->
<div class="w3-container w3-light-grey" style="padding:128px 16px" id="contact">
  <h3 class="w3-center">Contato</h3>
    <p class="w3-center w3-large">Dê sua <a href="https://whats.link/ericklincoln" title="Opinar" target="_blank" class="w3-hover-text-green">opinião</a></p>
  <div style="margin-top:48px">
    <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Ermelino Matarazzo, SP</p>
    <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Celular: +55 11.91373-1577</p>
    <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: Ericklincoln@live.com</p>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Desenvolvido por <a href="https://www.github.com/ErickLincoln" title="Desenvolvido" target="_blank" class="w3-hover-text-green">Erick Lincoln</a></p>
</footer>

</body>
</html>
